<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabajointegrador2aplicacionesmoviles">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconosplash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconosplash"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabajoIntegrador2AplicacionesMoviles"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity" android:theme="@style/Theme.TrabajoIntegrador2AplicacionesMoviles.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".RegistroUsuariosActivity" />
        <activity android:name=".ConsultarUsuariosActivity" />
        <activity android:name=".SubirMomentoActivity" />
        <activity android:name=".MomentoList" />
        <activity android:name=".tag.BuscarTagActivity" />
        <activity android:name=".tag.TagList" />
        <activity android:name=".MostrarFeedActivity" />
        <activity android:name=".MomentoDetail" />
        <activity android:name=".ItemListActivity" />
        <activity android:name=".ItemDetailActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>